@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;/* h1 e links */
    --fonte2:'Passion One', cursive;/* Em títulos */
    --fonte3:'Sriracha', cursive;/* no texto */
}

 * {
    /* Configurações normais  */
    margin: 0px;
    padding: 0px;
    font-size: 1em;

}
html,body{
    min-height: 100vh;/* Se fosse a largura seria 100vw */
    background-color: rgb(243, 236, 228);
    font-family: var(--fonte1);

}
header{
    background-color: black;
    color: cornsilk;
    text-align: center;
   
    
}
header > h1 {
    padding-top: 50px;
    /* Transformando em maiúscula   text-transform: uppercase;*/
    font-variant: small-caps;/* Fica apenas as primeiras letras maiúsculas */
    font-family: var(--fonte2);
   /*  font-size: 3.6em; */
   font-size: 10vw;

  
}
header > p {
    padding-bottom: 50px;
}
 header a,footer a{
    color: whitesmoke;
    text-decoration: none;/* Sem o sublinhado  */
    font-weight: bolder;/*  deixando em negrito */
}
header a:hover, footer a:hover{

    text-decoration: underline;/* Passa o mouse mostre o underline */

}
section{
    /* Para dar o efeito paralax aumentando a section . Ele vai se adptando com */
    padding-top:10vh ;
    padding-bottom:10vh ;
    /* espaçamento entre as linhas  2em */
    line-height: 2em;
    /* afastando para o lado direito 33px */
    padding-left: 33px;
    font-family: var(--fonte3);
  /*   font-size: 2.3em; */
  font-size: 3.5vw;

}
section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: wheat;
    color: black;
}
section.image{
    background-color: rgb(52, 48, 48);
    color: aliceblue;
    box-shadow: inset 3px 3px 9px 0px black;
    background-attachment: fixed;
}
section.image >p{
  /*   width: 360px; */
  display: inline-block;/* Transforma em uma caixa que adapta o conteúdo  */
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.277);
  text-shadow: 3px 3px 0px black;
}
section#img01{
background-image: url(/imagens/DreamShaper0.jpg);
background-position: right center;
background-size: cover;

}
section#img02{
    background-image: url(/imagens/background002.jpg);
    background-size: cover;

}
footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;

}